.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sectionTitle {
  font-size: var(--font-size-subtitle);
  font-weight: 600;
  color: var(--color-text-primary);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
